<!DOCTYPE html>
<html>
  <head>
    <title>AjaxTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script type="text/javascript">
      $.ajaxSetup({cache: false})

    </script>
  </head>

  <body>

    <header>

      <h1 class='title'><a href='/feed'> Ajax Twitter </a> </h1>

      <div class="right-stuff">
      <% if current_user %>
        <form class='logout-form' action="/session" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

          <input type="submit" value="Logout!">
        </form>
      <% end %>

    <ul class="primary-links">
      <% if current_user %>
      <li><h4><a class="hvr-bounce-to-right" href='/users/search'>User Search</a></h4></li>
      <% end %>
    </ul>

    </div>

    </header>

    <%= yield %>
  </body>
</html>
